<template>
  <div id="app">
    <nav class="navbar navbar-dark bg-custom">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/alerts">Alerts</a>
          </li>
        </ul>
      </div>
    </nav>

    <transition name="moveInUp">
      <router-view />
    </transition>
  </div>
</template>

<script>
import CronJobService from "./CronJobService";
export default {
  name: "app",
  components: {},
  async created() {
    try {
      //this.interval = setInterval(() => this.updateAlerts(),  60 * 10 * 1000);
    } catch (error) {
      this.error = error;
    }
  },
  methods: {
    updateAlerts() {
      CronJobService.updateAlerts();
    }
  }
};
</script>

<style>
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  background: rgba(255, 255, 255, 0.6) url("https://wallpaperaccess.com/full/1424800.jpg") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #eee5e9;
  min-height: 100%;
  padding-bottom: 50px; 
}
.bg-custom {
  background-color: #213d59;
}

.moveInUp-enter-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.moveInUp-enter-active {
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.moveInUp-leave-active {
  animation: moveInUp 0.3s ease-in;
}
@keyframes moveInUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
</style>
