<template>
  <div class="conteiner">
    <h1>Alerts</h1>
    <p class="error" v-if="error">{{error}}</p>
    <div>
      <ul
        class="list-group"
        v-for="(item,index) in data"
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item._id"
      >
        <li class="list-group-item list-group-item-secondary list-group-item-custom">
          <span
            @click="goToDetail(item.currency, item.value, item._id)"
          >{{item.currency}} - {{item.value}}</span>
          <button
            @click="deleteAlert(item._id)"
            type="button"
            class="btn btn-sm btn-danger float-right"
          >X</button>
        </li>
      </ul>
      <br />
      <button type="button" class="btn btn-dark btn-custom" @click="goToNew()">Add new</button>
    </div>
  </div>
</template>

<script>
import AlertService from "../AlertService";
export default {
  name: "AlertList",
  data() {
    return {
      data: [],
      error: "",
      currency: "",
      value: ""
    };
  },
  async created() {
    try {
      this.data = await AlertService.getAlerts();
    } catch (error) {
      this.error = error;
    }
  },
  methods: {
    goToDetail(currency, value, id) {
      this.$router.push({
        name: "alert",
        params: { id: id, currency: currency, value: value }
      });
    },
    goToNew() {
      this.$router.push({ name: "alertNew" });
    },
    async deleteAlert(id) {
      await AlertService.deleteAlert(id);
      this.data = await AlertService.getAlerts();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.conteiner {
  margin: auto;
  width: 70%;
  background-color: transparent;
}

.list-group-item.list-group-item-secondary.list-group-item-custom {
  color: #f6f7f7;
  background-color: rgba(33, 61, 89, 0.65);
  border: 1px solid #f6f7f7;
  margin-bottom: 15px;
}

.btn-custom {
  background-color: #213d59;
  border-color: #213d59;
}
</style>