<template>
  <div class="conteiner">
    <h1>Add new alert</h1>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Currency:</span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          :placeholder="[[ currency ]]"
          v-model="currency"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Value:</span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          :placeholder="[[ value ]]"
          v-model="value"
        />
      </div>
      <button v-if="id" type="button" class="btn btn-dark btn-custom" @click="update()">Update</button>
      <button v-else type="button" class="btn btn-dark btn-custom" @click="save()">Save</button>
  </div>
</template>

<script>
import AlertService from "../AlertService";
export default {
  name: "Alert",
  data() {
    return {
      error: "",
    };
  },
  props: ['id', 'value', 'currency'],
  methods: {
    async save() {
      await AlertService.insertAlert(this.value, this.currency);
    },
    async update() {
      await AlertService.updateAlert(this.id, this.value, this.currency);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.conteiner {
  margin: auto;
  width: 50%;
  background-color: transparent;
}

.btn-custom {
  background-color: #213d59;
  border-color: #213d59;
}

.input-group-text {
  background-color: #213d59;
  color: #f6f7f7;
}
</style>