<template>
  <div class="conteiner">
    <h1>Latest BTC prices</h1>
    <p class="error" v-if="error">{{error}}</p>
    <div>
      <ul
        class="list-group"
        v-for="(item,index) in data"
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item.currency"
      >
        <li
          @click="goToDetail(item.currency, item.apiId)"
          class="list-group-item list-group-item-dark list-group-item-custom"
        >
          <span>{{item.currency}} - {{item.price}}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import BTCService from "../BTCService";
export default {
  name: "BTC",
  data() {
    return {
      data: [],
      error: ""
    };
  },
  async created() {
    try {
      this.data = await BTCService.getData();
    } catch (error) {
      this.error = error;
    }
  },
  methods: {
    goToDetail(currency, apiId) {
      this.$router.push({
        name: "chart",
        params: { currency: currency, apiId: "https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=859&pref_coin_id=" + apiId }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.conteiner {
  margin: auto;
  width: 70%;
  background-color: transparent;
}

.list-group-item.list-group-item-dark.list-group-item-custom {
  color: #f6f7f7;
  background-color: rgba(33, 61, 89, 0.65);
  border: 1px solid #f6f7f7;
  margin-bottom: 15px;
}
</style>