<template>
  <div class="details">
    <div class="container">
      <h1>{{title}}</h1>
      <div
        style="height:560px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; border: 1px solid #282E3B; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #262B38;padding:1px;padding: 0px; margin: 0px;"
      >
        <div style="height:540px;padding:0px;margin:0px;">
          <iframe
            :src="apiId"
            width="100%"
            height="536"
            scrolling="auto"
            marginwidth="0"
            marginheight="0"
            frameborder="0"
            border="0"
            style="border:0;margin:0;padding:0;line-height:14px;box-sizing:content-box;"
          ></iframe>
        </div>
        <div
          style="color: #626B7F; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing:content-box; margin: 3px 6px 10px 0px; font-family: Verdana, Tahoma, Arial, sans-serif;"
        >
          powered by&nbsp;
          <a
            href="https://coinlib.io"
            target="_blank"
            style="font-weight: 500; color: #626B7F; font-size: 11px; text-decoration:none;"
          >Coinlib</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "BTCChart",
  data() {
    return {
      title: "Chart",
    };
  },
  props: ['apiId'],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>